In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# BBQ Data Science

In [7]:
names_data = pd.read_csv('data/names.csv', sep=",", index_col='Id')
names_data

C:\Program Files\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

              Name  Year Gender State  Count
Id
1             Mary  1910      F    AK     14
2            Annie  1910      F    AK     12
3             Anna  1910      F    AK     10
4         Margaret  1910      F    AK      8
5            Helen  1910      F    AK      7
6            Elsie  1910      F    AK      6
7             Lucy  1910      F    AK      6
8          Dorothy  1910      F    AK      5
9             Mary  1911      F    AK     12
10        Margaret  1911      F    AK      7
11            Ruth  1911      F    AK      7
12           Annie  1911      F    AK      6
13       Elizabeth  1911      F    AK      6
14           Helen  1911      F    AK      6
15            Mary  1912      F    AK      9
16           Elsie  1912      F    AK      8
17           Agnes  1912      F    AK      7
18            Anna  1912      F    AK      7
19           Helen  1912      F    AK      7
20          Louise  1912      F    AK      7
21            Jean  1912      F    AK      6
22            Ruth  1912      F    AK      6
23           Alice  1912      F    AK      5
24          Esther  1912      F    AK      5
25           Ethel  1912      F    AK      5
26        Margaret  1912      F    AK      5
27           Marie  1912      F    AK      5
28            Mary  1913      F    AK     21
29       Elizabeth  1913      F    AK      9
30        Margaret  1913      F    AK      8
...            ...   ...    ...   ...    ...
5647397     Brooks  2014      M    WY      5
5647398     Calvin  2014      M    WY      5
5647399    Cameron  2014      M    WY      5
5647400     Dalton  2014      M    WY      5
5647401     Dawson  2014      M    WY      5
5647402     Edward  2014      M    WY      5
5647403      Elias  2014      M    WY      5
5647404       Gage  2014      M    WY      5
5647405     Hayden  2014      M    WY      5
5647406     Jasper  2014      M    WY      5
5647407       Jose  2014      M    WY      5
5647408     Kaiden  2014      M    WY      5
5647409      Kaleb  2014      M    WY      5
5647410      Kasen  2014      M    WY      5
5647411      Kyson  2014      M    WY      5
5647412      Lukas  2014      M    WY      5
5647413      Myles  2014      M    WY      5
5647414  Nathaniel  2014      M    WY      5
5647415      Nolan  2014      M    WY      5
5647416     Oakley  2014      M    WY      5
5647417       Odin  2014      M    WY      5
5647418     Paxton  2014      M    WY      5
5647419    Raymond  2014      M    WY      5
5647420    Richard  2014      M    WY      5
5647421      Rowan  2014      M    WY      5
5647422       Seth  2014      M    WY      5
5647423    Spencer  2014      M    WY      5
5647424       Tyce  2014      M    WY      5
5647425     Victor  2014      M    WY      5
5647426     Waylon  2014      M    WY      5

[5647426 rows x 5 columns]